/* Self CSS */

div{
  word-wrap: break-word;
}


/**** Header CSS ****/
.time{
  position: fixed;
  margin-top: 20px;
  padding-right: 60px;
  color: #1c3f53;
  font-weight: bold;
}

/**** Dashboard page CSS ****/

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
}

.padding{
  padding: 20px;
}

.track_l{
  display: inline-block;
  text-align: right;
  width:50%;
  vertical-align: middle;
}

.track_c{
  display: inline-block;
  width:1%;
  vertical-align: middle;
}

.track_r{
  display: inline-block;
  text-align: left;
  width:30%;
  vertical-align: middle;
}

/**** Prediction page CSS ****/

/* Map plot CSS */
.map_container {
  /*display: inline-block;*/
  /* padding-right: 20px;*/
  max-width: 100%;
  width: 1000px;
  height: 500px;
  margin-left: auto ;
  margin-right: auto ;
}

/*NOTE only use default tag name if its only used in html ONCE
else DONT EVER USE default tags*/
/*img {
  max-width: 100%;
  max-height: 100%;
}*/

#azimuth-polarchart>div>div{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Prediction settings CSS */

/* Prediction table CSS */

/* Satellite name */
.predict_name {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  background: #d9d9d9;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
}

/* Date Time Column */
.predict_date_time {
  width: 12%;
}

.predict_date_time_wrapper {
  width: 100%;
  margin: auto;
}
.predict_date {
  width: 90%;
  text-align: center;
  /*display: inline-block;*/
}

.predict_time {
  width: 30%;
  text-align: center;
  display: inline-block;
}

.predict_time_dash {
  width: auto;
  text-align: center;
  display: inline-block;
}

/* Countdown column */
.predict_countdown {
  width: 9%;
}

/* Epoch Time column */
.predict_epoch {
  width: 9%;
}

/* Peak Elevation column */
.predict_elevation {
  width: 8%;
}

/* Azimuth / Range Column */
.predict_azimuth {
  width: 15%;
}

.predict_azimuth_wrapper {
  width: 100%;
  margin: auto;
}

.predict_azimuth_div {
  display: inline-block;
  width: 30%;
}

/* Visibility */
.predict_visibility {
  width: 6%;
}

/* Cloud cover column */
.predict_cover {
  width: 8%;
}

/* Mark Highlighted Row */
.predict_highlight_row {
  background-color: #e6e6e6 !important;
}

.predict_highlight_row2 {
  background-color: #FFEFD5;
}

/* No Data Text */
.no_data {
  font-size: 20px;
  text-decoration: underline;
  padding: 20px;

}

/* Settings CSS */

/* Might be useful CSS */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*
.weather_style {
    display: inline-block;
    float: left; 
}
.weather_table{
    width:40%;
    float:left;
}*/

.logFormat{
  background: none;
  border: none;
  text-align: left;
}


/* Override chat discussion height*/
.chat-discussion {
  padding: 15px 10px;
  height:600px;
}




.toggleStartButtonColour, .toggleStartButtonColour:hover, .toggleStartButtonColour:focus, .toggleStartButtonColour:active,
.toggleRotorButtonColour, .toggleRotorButtonColour:hover, .toggleRotorButtonColour:focus, .toggleRotorButtonColour:active{
  color: white;
  background-color: red;
  border-color: red;
}

.popupS-layer{
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.25);
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  position: relative;
  border-radius:6px;
  background-color: #FFF;
  margin:20px;
  z-index:1000;

}
.popupS-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popupS-close{
  position: absolute;
  top: 0;
  right: 0;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  width: 32px;
  height: 40px;
  cursor: pointer;
  z-index:1020;
}
.popupS-title{
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  z-index:1001;
}
.popupS-title + .popupS-content{
  padding-bottom:20px;
}
.popupS-content{
  max-width:700px;
  padding:40px;
  border-radius:6px;
}
.popupS-content img{
  max-width:100%;
  height:auto;
}
.popupS-layer .btn{
  float:right;
}

/*
 * Default Animation
 * very Important
 */

.popupS-layer{
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
}
.popupS-overlay{
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  background:rgb(0,0,0);
  opacity: 0;
}
.popupS-layer.popupS-open{
  opacity: 1;
}
.popupS-open>.popupS-overlay{
  opacity:.6;
}

/* Loader */

@-moz-keyframes spinner {
  to {-moz-transform: rotate(360deg);
    transform: rotate(360deg);}
}
@-o-keyframes spinner {
  to {-o-transform: rotate(360deg);
    transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg);}
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
@-moz-keyframes pulsate {
  0% {
    -moz-transform:scale(.1);
    transform:scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity:1;
  }
  100% {
    -moz-transform:scale(1.2);
    transform:scale(1.2);
    opacity:0;
  }
}
@-o-keyframes pulsate {
  0% {
    -o-transform:scale(.1);
    transform:scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity:1;
  }
  100% {
    -o-transform:scale(1.2);
    transform:scale(1.2);
    opacity:0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform:scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity:1;
  }
  100% {
    transform:scale(1.2);
    opacity:0;
  }
}
@keyframes pulsate {
  0% {
    transform:scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity:1;
  }
  100% {
    transform:scale(1.2);
    opacity:0;
  }
}
.popupS-loading{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 30px;
}
.popupS-loading.pulser{
  border: 3px solid #1caff6;
  opacity: 0;
  -moz-animation: pulsate 1s ease-out infinite;
  -o-animation: pulsate 1s ease-out infinite;
  -webkit-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}
.popupS-loading.spinner{
  border-top: 3px solid #1caff6;
  border-right: 3px solid transparent;
  -moz-animation: spinner .6s linear infinite;
  -o-animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
  animation: spinner .6s linear infinite;
}

.col-container {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;

}